body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#upload-deck {
    padding: 10px;
}

.deck-area {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#deck {
    width: 150px;
    height: 210px;
    background-image: url('mtg_card_back.jpg');
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.hand {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.card {
    width: 150px;
    height: 210px;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    position: absolute; /* Use absolute positioning */
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}

.card.flipped {
    background-image: url('mtg_card_back.jpg');
    background-size: cover;
}

.card:not(.flipped) img {
    display: block;
}

.card.flipped img {
    display: none;
}

.playing-field {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    height: 600px; /* Set a fixed height for the playing field */
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative;
    flex-grow: 1; /* Allow playing field to grow and take available space */
}
